# Dependency directories
node_modules/

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

# Obsidian settings
.obsidian/
Notes/

# Flutter / Dart ignores
.dart_tool/
**/build/
**/ios/.symlinks/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/__pycache__/
